* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #eaf4ed; /* Fundo verde claro suave */
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #006f3c; /* Fundo verde mais escuro no cabeçalho */
    color: white;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}

.ebook-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.ebook-cover {
    width: 250px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.details {
    max-width: 500px;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

.highlight {
    color: #00a859; /* Destaque no preço com verde vibrante */
    font-weight: bold;
}

button {
    padding: 12px 25px;
    background-color: #00a859; /* Cor verde vibrante */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #008d4b; /* Tom de verde mais escuro no hover */
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #777;
}
